@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #bbb8ae;
  --foreground: #514b4a;
  --pc-width: calc(100vw - 10px)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #252423;
    --foreground: 	#bbb8ae;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
